html {
	height: 100%;
}
body {
	height: 100vh;
}
#main{
	background: #FFF;
}
#mainTop{
	background-color: #FFF;
	border-radius: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-top: 20px;
	min-height: 540px;
	position: relative;
}
#mainTable{
}
#map {
	height: 500px;
	width: 98%;
	background-color: grey;
	position: absolute;
	border: 1px #CED4DA  solid;
}
#logoTxt{
	margin-left:5px;
}
.contact{
	background: url("../img/map-image.png");
	background-color: black;
	height: 90%;
	margin-bottom: 20px;
}
#mainBottom{
	background: #3E3F3A;
	padding-top: 20px;
	height: 100%;
}
#filterTable tr{
	float: left;
	margin: 2px;
}
#info{

	left:-100%;
	position: relative;
	background-color: #202020;
	opacity: 0.8;
	z-index: 10000;
	padding: 10px;
	height: 500px;
	width: 20%;
	color: #F7F3EE;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: -15px;
}
#info audio{
	width: 100%;
}
#info button.close{
	width: 100%;
	text-align: right;
}
#storyTableBody .btn{
	margin: 1px
}
.fulltable .table-text {
	max-width: 350px;
}
.infoOpen{
	left: 15px !important;
	-webkit-transition: all 1s, -webkit-transform 1s;
	transition: all 1s, transform 1s;
	width:100%;
	height:100%;
	opacity:1;
}
.white-label {
	color: white;
}
.contactus-form {
	width: 60%;
	margin: 0 auto;
	padding-top: 15%;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 15px;
}
.bg-light {
	border-bottom: 1px #CED4DA  solid;
}