html {
	height: 100%;
}
body {
	height: 100vh;
}
.content {
	padding-bottom: 40px;
}
#main{
	background: #F8F5F0;
	border-bottom: 1px #CED4DA solid;
}
#main-top{
	background-color: #FFF;
	border-radius: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 20px;
	min-height: 540px;
	position: relative;
}
#main-table{
}
#map {
	height: 500px;
	width: 98%;
	background-color: grey;
	position: absolute;
	border: 1px #CED4DA  solid;
}
#tags-table{
	height: 438px;
	overflow: scroll;
}
#logo-text{
	margin-left:5px;
}
.contact{

}
#main-bottom{
	background: #c6c4b8;
	padding-top: 20px;
	height: 100%;
}
#filter-table tr{
	float: left;
	margin: 2px;
}
#info{
	left:-100%;
	position: relative;
	background-color: #202020;
	opacity: 0.8;
	z-index: 10000;
	padding: 10px;
	height: 500px;
	width: 20%;
	color: #F7F3EE;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: -15px;
}
#info-title{
	font-weight: bold;
	border-bottom: 1px solid white;
	margin-bottom: 8px;
	font-size: 16px;
}
#info audio{
	width: 100%;
}
#info button.close{
	width: 100%;
	text-align: right;
}
#story-table-body .btn{
	margin: 1px
}
.fulltable .table-text {
	max-width: 350px;
}
.info-open{
	left: 15px !important;
	-webkit-transition: all 1s, -webkit-transform 1s;
	transition: all 1s, transform 1s;
	width:100%;
	height:100%;
	opacity:1;
}
.white-label {
	color: white;
}
.contactus-form {
	width: 60%;
	margin: 0 auto;
	padding-top: 15%;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 15px;
}
.story-item {
	display:none;
}
#load-more {
	margin: 0 50%;
}
.to-top {
	position: fixed;
	bottom: 40px;
	right: 20px;
}
.to-top a {
	display: none;
	color: #33739E;
}
#download-pdf {
	float: right;
	border-radius: 4px 4px 0px 0px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #3E3F3A;
	padding: 10px;
	z-index: 5;
}
.footer a,.footer p{
	color: #fff;
	font-size: 11px;
}
.footer #copy-right-location {
	text-align: right;
}
.add-new-tag {
	margin-top: 28px;
}
